
<div>
  <div>
    Add a cat:
    Name: {{input value=newName}}
    Image: {{input value=newImage}}
    <button {{action 'createCat'}}>Save</button>
  </div>
</div>

{{#each model}}
  <div style="display:inline-block">
    {{cat-component cat=this delete='delete'}}
  </div>
{{/each}}
