
{{#each model}}
  <div style="display:inline-block">
    {{#link-to 'cat' this}}
      <h2>{{name}}</h2>
    {{/link-to}}
   <button {{action 'delete' this}}>Remove {{name}}</button>

    <img {{bind-attr src=image}} style="height:250px">
  </div>
{{/each}}
