
{{#each dog in model}}
  <div style="display:inline-block">
    <h2>{{dog.name}}</h2>
    {{#if dog.playsFetch}}
      <h2>Plays Fetch</h2>
    {{/if}}
    {{#if dog.likesCats}}
      <h2>Likes cats</h2>
    {{/if}}
    <img {{bind-attr src=dog.image}} style="height:250px">
  </div>
{{/each}}
