<div>
  <div>
    Add a dog:
    Name: {{input value=newName}}
    Image: {{input value=newImage}}
    <button {{action 'createDog' dog}}>Save</button>
  </div>
</div>

{{#each model}}
  <div style="display:inline-block">
    {{dog-component dog=this delete='delete'}}
  </div>
{{/each}}
